/**
 * @name Neutron
 * @version 8.1
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 *//*
$$\   $$\ $$$$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\   $$$$$$\  $$\   $$\
$$$\  $$ |$$  _____|$$ |  $$ |\__$$  __|$$  __$$\ $$  __$$\ $$$\  $$ |
$$$$\ $$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ /  $$ |$$$$\ $$ |
$$ $$\$$ |$$$$$\    $$ |  $$ |   $$ |   $$$$$$$  |$$ |  $$ |$$ $$\$$ |
$$ \$$$$ |$$  __|   $$ |  $$ |   $$ |   $$  __$$< $$ |  $$ |$$ \$$$$ |
$$ |\$$$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ |  $$ |$$ |\$$$ |
$$ | \$$ |$$$$$$$$\ \$$$$$$  |   $$ |   $$ |  $$ | $$$$$$  |$$ | \$$ |
\__|  \__|\________| \______/    \__|   \__|  \__| \______/ \__|  \__|
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/neutron8.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Tw+Cen+MT');
/*##########################################################################

                 CHANGE VALUES BELOW TO CUSTOMIZE YOU THEME

##########################################################################*/
:root {
  /* COLORS */
  --themeColor1: #E912FCCE; /* Theme's color 1 */
  --themeColor2: #2F7FFFCE; /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Tw Cen MT'; /* Custom font, change the name in 'font name here', you must import the font first */

  /* HOME BUTTON */
  --homeImage: url('https://i.imgur.com/O53KAVy.jpg');/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeImageSize: cover;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --backgroundColor: #0d0d0d; /* Background color */
  --backgroundImage: url('https://i.imgur.com/yJJUuny.jpeg'); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 4px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .65; /* 0 is transparent */

  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);

  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;
}
